.forgot-pass {
    
    background-image: linear-gradient(50deg, #15172a 45%, #15172a 55%, rgb(255, 0, 89));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .form-container {
        background-color: rgba(255, 255, 255, 0.333);
        border-radius: 10px;
        
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0 40px;
            

            h4 {
                font-size: 40px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
    
            hr {
                margin-left: 40px;
                width: 65%;
                height: 3px;
                background-color: rgb(31, 39, 80);
                border: none;                
            }
    
            .input-field {
    
                input {
                    font-size: 22px;
                    height: 50px;
                    width: 600px;
                    padding: 10px;
                    border: 1px solid rgb(185, 185, 185);
                    color: #252525;
                    outline: none;
                    border-radius: 5px;
                }
            }
    
            .reset-btn {
                width: 200px;
                height: 50px;
                font-size: 22px;
                font-weight: 600;
                // margin-left: -400px;
                margin-top: 20px;
                color: white;
                background: orangered;
                cursor: pointer;
                border: none;
                margin-bottom: 40px;
    
                &:active {
                    background-color: grey;
                }
            }

        }
        

        
    }
}
