.login{
    height: 90vh;
    background-image: linear-gradient(50deg, #15172a 52%, rgb(255, 0, 89));
    display: flex;
    justify-content: center;
    
    align-items: center;

    .form-container{
        form{
            // margin-top: 1px;
            
            background-color: rgba(255, 255, 255, 0.333);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-radius: 10px;

            h4{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                font-size: 40px;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.9);

            }

            hr{
                height: 3px;
                background-color: rgb(38, 38, 60);
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                border: none;
            }

            .input-field{

                margin: 0px 40px;
                input{
                    font-size: 22px;
                    height: 50px;
                    width: 600px;
                    padding: 10px;
                    border: 1px solid rgb(185, 185, 185);
                    color: #252525;
                    outline: none;
                    border-radius: 5px;
    
                }

            }

            button{
                width: 250px;
                height: 50px;
                font-size: 22px;
                font-weight: 600;
                margin-left: -350px;
                // border-radius: 10px;
                // margin-top: 20px;
                
                
                color: white;
                background: orangered;
                cursor: pointer;
                border: none;
    
                &:active{
                    background-color: grey;
                }
            }

            .btn-login{
                width: 150px;
                margin-left: -450px;

            }

            .forgot{
                font-size: 22px;
                font-weight: 600;
                margin-left: -445px;
                color: rgb(255, 5, 67);
                cursor: pointer;

                &:hover{
                    color: grey;
                    scale: 1.01;
                }

            }
            
            

            .reg{
                margin-left: -180px;
                font-size: 22px;
                margin-bottom: 40px;
                display: flex;
                gap: 10px;

                a{
                    text-decoration: none;
                    color:blue;
                    font-weight: 600;
                    margin-top: 8px;

                    &:hover{
                        color: rgb(255, 0, 111);
                    }
                }
            }

            

        }
    }
}