.qr{
    margin: 20px 0px;
    // background-color: beige;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

    
  }
 
  .qr-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    hr{
        height: 4px;
        width: 100%;
        background-color: orangered;
        display: flex;
        margin-top: 10px;

    }
  }



